li {
    float: left;
}

.team {
    float: right;
    color: black;
}

body,
html {
    height: 100%;
    width: 100%;
}

body,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 12px arial;
    background: #fff;
}

.img {
    margin: auto;
}