li {
    float: right;
     color: #00c;
    font-weight: blod;
    line-height: 24px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}

body,
html {
    height: 100%;
    width: 100%;
}

body,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 12px arial;
}

.img {
    position: relative;
    left: 600px;
    top: 150px;
    width: 200px;
    height: 200px;
}

.box {
    position: relative;
    left: 600px;
    top: 40px;
}

.su {
    position: relative;
    top: 10px;
    left: 860px;
}

.img1 {
    position: relative;
    top: 210px;
    left: 350px;
}

.su {
    width: 100px;
    height: 25px;
}
